In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder

In [2]:
AwanTunai_data = pd.read_excel('20220413_Northeastern_AwanTunai_Capstone_Data.xlsx', keep_default_na = 'TRUE')

In [3]:
AwanTunai_data.head()

,id,order_id,merchant_id,sku_id,date,top_cat_id,sub_cat_id,price
0,654713,82186,1754,981,2021-06-29,7.0,44.0,877000.0
1,654712,82186,1754,23060,2021-06-29,7.0,44.0,877000.0
2,654711,82186,1754,1548,2021-06-29,7.0,44.0,877000.0
3,654714,82186,1754,1969,2021-06-29,7.0,44.0,877000.0
4,654687,82186,1754,343,2021-06-29,7.0,44.0,312000.0

In [4]:
AwanTunai_data.isna().sum()

id                0
order_id          0
merchant_id       0
sku_id            0
date              0
top_cat_id     2208
sub_cat_id     2208
price             0
dtype: int64

In [5]:
na_AwanTunai_data = AwanTunai_data[AwanTunai_data["top_cat_id"].isna()]
AwanTunai_data = AwanTunai_data.dropna(subset=["top_cat_id"])

In [6]:
AwanTunai_data.isna().sum()

id             0
order_id       0
merchant_id    0
sku_id         0
date           0
top_cat_id     0
sub_cat_id     0
price          0
dtype: int64

In [7]:
print(AwanTunai_data.dtypes)

id                      int64
order_id                int64
merchant_id             int64
sku_id                  int64
date           datetime64[ns]
top_cat_id            float64
sub_cat_id            float64
price                 float64
dtype: object

In [8]:
AwanTunai_sku_movement = pd.read_csv('sku_movement.csv')

In [9]:
AwanTunai_sku_movement.head()

   sku_id  Avg_diff
0       0  7.812500
1       1  4.750000
2       2  4.068966
3       3  3.051282
4       4  3.169014

In [10]:
AwanTunai_data["sku_movement"] = 0

In [11]:
AwanTunai_data.sku_movement.update(AwanTunai_data.sku_id.map(AwanTunai_sku_movement.set_index('sku_id').Avg_diff))

In [12]:
AwanTunai_data = AwanTunai_data[AwanTunai_data['sku_movement'] > 0]

In [13]:
AwanTunai_data['sku_movement'] = AwanTunai_data['sku_movement'].round(decimals = 2)

In [14]:
AwanTunai_data.head()

,id,order_id,merchant_id,sku_id,date,top_cat_id,sub_cat_id,price,sku_movement
0,654713,82186,1754,981,2021-06-29,7.0,44.0,877000.0,42.33
1,654712,82186,1754,23060,2021-06-29,7.0,44.0,877000.0,52.67
2,654711,82186,1754,1548,2021-06-29,7.0,44.0,877000.0,22.67
4,654687,82186,1754,343,2021-06-29,7.0,44.0,312000.0,17.80
5,1058235,129785,1760,1548,2021-10-04,7.0,44.0,3750.0,22.67

In [15]:
bins = [1, 15, 30, 45, (AwanTunai_sku_movement["Avg_diff"]).max()]
df = pd.cut(AwanTunai_sku_movement["Avg_diff"], bins)
df.value_counts()

(1.0, 15.0]     409
(15.0, 30.0]    126
(30.0, 45.0]     32
(45.0, 64.0]     12
Name: Avg_diff, dtype: int64

In [16]:
df_merchant_sku_N_movement = AwanTunai_data[['merchant_id', 'sku_movement', 'sku_id']]
df_merchant_sku_N_movement = df_merchant_sku_N_movement.drop_duplicates(subset = ['merchant_id', 'sku_id'])

In [17]:
df_merchant_sku_N_movement.head()

   merchant_id  sku_movement  sku_id
0         1754         42.33     981
1         1754         52.67   23060
2         1754         22.67    1548
4         1754         17.80     343
5         1760         22.67    1548

In [18]:
from scipy.sparse import csr_matrix
from fuzzywuzzy import fuzz
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

C:\Users\Uzzi\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [19]:
df_movement_day_diff_features = df_merchant_sku_N_movement.pivot(
    index = 'sku_id',
    columns = 'merchant_id',
    values = 'sku_movement'
).fillna(0)

In [20]:
df_movement_day_diff_features

merchant_id,875,1016,1041,1103,1156,1160,1161,1170,1171,1172,...,2885,2891,2913,2932,2953,2954,2973,3075,3104,3114
sku_id,,,,,,,,,,,,,,,,,,,,,
0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,7.81,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.00,0.0,0.0,0.0,4.75,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.0,0.0,0.0,4.07,4.07,0.0,0.00,0.0,4.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.0,0.0,0.0,3.05,3.05,0.0,0.00,0.0,3.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.17,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23746,0.00,0.0,0.0,0.0,0.00,0.00,0.0,2.78,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23747,0.00,0.0,0.0,0.0,0.00,0.00,0.0,8.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23748,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,7.31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23749,0.00,0.0,0.0,0.0,0.00,0.00,0.0,4.51,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23756,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
sku_list = pd.DataFrame(df_merchant_sku_N_movement.sku_id.unique())
sku_list.columns = ['sku_id']
sku_list = sku_list.sort_values(by='sku_id', ascending=True).reset_index()
sku_list.insert(loc=0, column='row_num', value=np.arange(len(sku_list)))
sku_list = sku_list[['row_num', 'sku_id']]
sku_list.head()

   row_num  sku_id
0        0       0
1        1       1
2        2       2
3        3       3
4        4       4

In [22]:
sku_movement_to_idx = sku_list.to_dict()
sku_movement_to_idx = sku_movement_to_idx['sku_id']

In [23]:
sku_movement_to_idx

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 8,
 6: 9,
 7: 15,
 8: 18,
 9: 21,
 10: 22,
 11: 25,
 12: 27,
 13: 33,
 14: 34,
 15: 38,
 16: 40,
 17: 45,
 18: 56,
 19: 60,
 20: 62,
 21: 65,
 22: 76,
 23: 77,
 24: 83,
 25: 85,
 26: 88,
 27: 89,
 28: 96,
 29: 103,
 30: 105,
 31: 106,
 32: 115,
 33: 122,
 34: 139,
 35: 143,
 36: 144,
 37: 145,
 38: 156,
 39: 158,
 40: 159,
 41: 160,
 42: 165,
 43: 166,
 44: 177,
 45: 190,
 46: 210,
 47: 214,
 48: 218,
 49: 221,
 50: 226,
 51: 232,
 52: 253,
 53: 257,
 54: 272,
 55: 274,
 56: 283,
 57: 289,
 58: 306,
 59: 313,
 60: 317,
 61: 343,
 62: 354,
 63: 360,
 64: 371,
 65: 383,
 66: 385,
 67: 387,
 68: 400,
 69: 401,
 70: 404,
 71: 412,
 72: 414,
 73: 415,
 74: 419,
 75: 436,
 76: 437,
 77: 444,
 78: 448,
 79: 466,
 80: 468,
 81: 473,
 82: 477,
 83: 482,
 84: 503,
 85: 519,
 86: 523,
 87: 526,
 88: 540,
 89: 547,
 90: 551,
 91: 562,
 92: 567,
 93: 568,
 94: 592,
 95: 600,
 96: 609,
 97: 621,
 98: 628,
 99: 643,
 100: 655,
 101: 667,
 102: 678,
 103: 688,
 104: 689,
 105: 699,
 106: 717,
 107: 720,
 108: 728,
 109: 761,
 110: 764,
 111: 802,
 112: 812,
 113: 816,
 114: 841,
 115: 845,
 116: 849,
 117: 856,
 118: 862,
 119: 864,
 120: 867,
 121: 872,
 122: 883,
 123: 887,
 124: 924,
 125: 927,
 126: 934,
 127: 944,
 128: 945,
 129: 951,
 130: 971,
 131: 981,
 132: 1027,
 133: 1048,
 134: 1073,
 135: 1081,
 136: 1085,
 137: 1088,
 138: 1116,
 139: 1122,
 140: 1170,
 141: 1171,
 142: 1178,
 143: 1185,
 144: 1193,
 145: 1204,
 146: 1207,
 147: 1233,
 148: 1235,
 149: 1237,
 150: 1246,
 151: 1268,
 152: 1275,
 153: 1312,
 154: 1320,
 155: 1340,
 156: 1343,
 157: 1371,
 158: 1383,
 159: 1416,
 160: 1436,
 161: 1439,
 162: 1495,
 163: 1508,
 164: 1521,
 165: 1534,
 166: 1548,
 167: 1556,
 168: 1557,
 169: 1558,
 170: 1589,
 171: 1596,
 172: 1651,
 173: 1679,
 174: 1702,
 175: 1726,
 176: 1751,
 177: 1764,
 178: 1767,
 179: 1797,
 180: 1807,
 181: 1811,
 182: 1853,
 183: 1865,
 184: 1866,
 185: 1872,
 186: 1901,
 187: 1925,
 188: 1964,
 189: 1996,
 190: 2007,
 191: 2012,
 192: 2037,
 193: 2053,
 194: 2063,
 195: 2073,
 196: 2127,
 197: 2136,
 198: 2166,
 199: 2174,
 200: 2237,
 201: 2239,
 202: 2283,
 203: 2290,
 204: 2295,
 205: 2317,
 206: 2321,
 207: 2345,
 208: 2360,
 209: 2386,
 210: 2392,
 211: 2430,
 212: 2438,
 213: 2450,
 214: 2483,
 215: 2513,
 216: 2522,
 217: 2533,
 218: 2627,
 219: 2639,
 220: 2648,
 221: 2657,
 222: 2740,
 223: 2742,
 224: 2749,
 225: 2799,
 226: 2856,
 227: 2895,
 228: 2936,
 229: 2964,
 230: 3000,
 231: 3014,
 232: 3019,
 233: 3031,
 234: 3059,
 235: 3071,
 236: 3147,
 237: 3164,
 238: 3189,
 239: 3191,
 240: 3201,
 241: 3238,
 242: 3249,
 243: 3250,
 244: 3259,
 245: 3282,
 246: 3296,
 247: 3320,
 248: 3327,
 249: 3331,
 250: 3362,
 251: 3414,
 252: 3426,
 253: 3438,
 254: 3460,
 255: 3465,
 256: 3469,
 257: 3488,
 258: 3503,
 259: 3530,
 260: 3548,
 261: 3568,
 262: 3573,
 263: 3575,
 264: 3583,
 265: 3605,
 266: 3642,
 267: 3679,
 268: 3691,
 269: 3777,
 270: 3789,
 271: 3791,
 272: 3871,
 273: 3880,
 274: 3903,
 275: 3904,
 276: 3965,
 277: 4111,
 278: 4195,
 279: 4204,
 280: 4275,
 281: 4305,
 282: 4307,
 283: 4365,
 284: 4382,
 285: 4492,
 286: 4505,
 287: 4557,
 288: 4578,
 289: 4621,
 290: 4657,
 291: 4680,
 292: 4727,
 293: 4753,
 294: 4776,
 295: 4805,
 296: 4806,
 297: 4826,
 298: 4828,
 299: 4850,
 300: 4870,
 301: 4881,
 302: 4882,
 303: 4883,
 304: 4904,
 305: 4922,
 306: 4985,
 307: 5004,
 308: 5027,
 309: 5039,
 310: 5062,
 311: 5068,
 312: 5082,
 313: 5101,
 314: 5142,
 315: 5163,
 316: 5185,
 317: 5286,
 318: 5319,
 319: 5320,
 320: 5326,
 321: 5337,
 322: 5338,
 323: 5340,
 324: 5341,
 325: 5414,
 326: 5488,
 327: 5540,
 328: 5548,
 329: 5568,
 330: 5581,
 331: 5582,
 332: 5612,
 333: 5627,
 334: 5930,
 335: 5959,
 336: 6092,
 337: 6169,
 338: 6186,
 339: 6420,
 340: 6434,
 341: 6442,
 342: 6454,
 343: 6563,
 344: 6588,
 345: 6630,
 346: 6677,
 347: 6686,
 348: 6694,
 349: 6695,
 350: 6712,
 351: 6778,
 352: 6842,
 353: 6876,
 354: 6884,
 355: 7106,
 356: 7123,
 357: 7209,
 358: 7333,
 359: 7476,
 360: 7512,
 361: 7536,
 362: 7557,
 363: 7615,
 364: 7636,
 365: 7637,
 366: 7999,
 367: 8037,
 368: 8045,
 369: 8123,
 370: 8154,
 371: 8170,
 372: 8207,
 373: 8293,
 374: 8379,
 375: 8388,
 376: 8613,
 377: 8881,
 378: 9333,
 379: 9335,
 380: 9544,
 381: 9587,
 382: 9645,
 383: 9690,
 384: 9701,
 385: 9753,
 386: 9769,
 387: 9863,
 388: 10178,
 389: 11924,
 390: 12048,
 391: 12413,
 392: 12426,
 393: 13343,
 394: 13625,
 395: 14151,
 396: 14162,
 397: 14761,
 398: 14766,
 399: 14767,
 400: 14816,
 401: 14921,
 402: 15141,
 403: 15143,
 404: 15333,
 405: 15824,
 406: 15828,
 407: 15829,
 408: 15830,
 409: 15831,
 410: 15874,
 411: 15964,
 412: 15979,
 413: 15993,
 414: 15994,
 415: 15996,
 416: 15997,
 417: 16057,
 418: 16065,
 419: 16093,
 420: 16109,
 421: 16112,
 422: 16116,
 423: 16124,
 424: 16134,
 425: 16188,
 426: 16278,
 427: 16280,
 428: 16281,
 429: 16292,
 430: 16313,
 431: 16368,
 432: 16373,
 433: 16374,
 434: 16640,
 435: 17801,
 436: 18107,
 437: 18330,
 438: 18730,
 439: 19281,
 440: 19350,
 441: 19413,
 442: 19426,
 443: 19477,
 444: 19511,
 445: 19527,
 446: 19569,
 447: 19744,
 448: 19755,
 449: 19759,
 450: 19797,
 451: 19808,
 452: 19811,
 453: 19817,
 454: 19824,
 455: 19843,
 456: 19851,
 457: 19924,
 458: 19972,
 459: 20004,
 460: 20150,
 461: 20163,
 462: 20195,
 463: 20238,
 464: 20240,
 465: 20296,
 466: 20313,
 467: 20315,
 468: 20316,
 469: 20319,
 470: 20370,
 471: 20437,
 472: 20525,
 473: 20608,
 474: 20609,
 475: 20758,
 476: 20806,
 477: 20841,
 478: 20863,
 479: 20889,
 480: 20902,
 481: 20941,
 482: 21037,
 483: 21131,
 484: 21152,
 485: 21260,
 486: 21289,
 487: 21354,
 488: 21364,
 489: 21365,
 490: 21380,
 491: 21395,
 492: 21449,
 493: 21554,
 494: 21562,
 495: 21615,
 496: 21655,
 497: 21716,
 498: 21867,
 499: 21928,
 500: 21936,
 501: 21964,
 502: 21985,
 503: 21987,
 504: 22099,
 505: 22100,
 506: 22122,
 507: 22127,
 508: 22190,
 509: 22192,
 510: 22210,
 511: 22251,
 512: 22252,
 513: 22270,
 514: 22485,
 515: 22586,
 516: 22650,
 517: 22652,
 518: 22653,
 519: 22658,
 520: 22659,
 521: 22671,
 522: 22674,
 523: 22675,
 524: 22677,
 525: 22679,
 526: 22684,
 527: 22700,
 528: 22703,
 529: 22706,
 530: 22707,
 531: 22735,
 532: 22746,
 533: 22747,
 534: 22758,
 535: 22772,
 536: 22785,
 537: 22786,
 538: 22832,
 539: 22833,
 540: 22879,
 541: 22882,
 542: 22920,
 543: 22923,
 544: 22927,
 545: 22980,
 546: 23001,
 547: 23008,
 548: 23060,
 549: 23066,
 550: 23067,
 551: 23083,
 552: 23091,
 553: 23105,
 554: 23123,
 555: 23160,
 556: 23162,
 557: 23163,
 558: 23164,
 559: 23166,
 560: 23167,
 561: 23172,
 562: 23174,
 563: 23184,
 564: 23185,
 565: 23281,
 566: 23304,
 567: 23313,
 568: 23323,
 569: 23456,
 570: 23579,
 571: 23590,
 572: 23618,
 573: 23627,
 574: 23654,
 575: 23746,
 576: 23747,
 577: 23748,
 578: 23749,
 579: 23756}

In [24]:
matrix_movement_day_diff_features = csr_matrix(df_movement_day_diff_features.values)

In [25]:
def fuzzy_matching(mapper, selected_sku, verbose=True):
    match_tuple = []
    # get match
    for idx, sku_id in mapper.items():
        ratio = fuzz.ratio(str(sku_id), str(selected_sku))
        if ratio == 100:
            match_tuple.append((sku_id, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key = lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        sku_movement = AwanTunai_sku_movement[AwanTunai_sku_movement["sku_id"] == 20315]["Avg_diff"]\
        .values[0].round(decimals = 2)
        is_fast = "Fast Moving"
        if sku_movement > 10:
            is_fast = "Slow Moving"
        print('Found possible matches in our database: {0} [{1}]'.format([x[0] for x in match_tuple], is_fast))
        print('{0} moving with a speed of {1} days on an average.\n'.format(selected_sku, sku_movement))
    return match_tuple[0][1]

In [26]:
def make_recommendation(model_knn, data, mapper, selected_sku, n_recommendations):
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input SKU:', selected_sku)
    idx = fuzzy_matching(mapper, selected_sku, verbose = True)
    if(idx is not None):
        # inference
        print('Recommendation system start to make inference')
        print('......\n')
        distances, indices = model_knn.kneighbors(data[idx], n_neighbors = n_recommendations)
        # get list of raw idx of recommendations
        raw_recommends = \
            sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
        # print recommendations
        print('Recommendations for {}:'.format(selected_sku))
        for i, (idx, dist) in enumerate(raw_recommends):
            try:
                print('{0}: {1}, with distance of {2}'.format(i+1, mapper[idx], dist))
            except:
                print("{0}: Exception thrown. {1} SKU does not exist.".format(i+1, idx))

In [27]:
# define model
model_knn = NearestNeighbors(metric='cosine',\
                             algorithm='brute',\
                             n_neighbors = 3,\
                             n_jobs = -1)

In [28]:
selected_sku = '20315'

make_recommendation(
    model_knn = model_knn,
    selected_sku = selected_sku,
    data = matrix_movement_day_diff_features,
    mapper = sku_movement_to_idx,
    n_recommendations = 11)

You have input SKU: 20315
Found possible matches in our database: [20315] [Fast Moving]
20315 moving with a speed of 6.07 days on an average.

Recommendation system start to make inference
......

Recommendations for 20315:
1: 306, with distance of 0.7962152135151943
2: 20889, with distance of 0.7817821097640076
3: 16280, with distance of 0.7776252050016697
4: 7209, with distance of 0.7609542781331213
5: 19477, with distance of 0.758253110792386
6: 20313, with distance of 0.746453723581445
7: 23185, with distance of 0.746453723581445
8: 19281, with distance of 0.7327387580875757
9: 16640, with distance of 0.6913933000758162
10: 1865, with distance of 0.6913933000758162